.add-photo:hover {
    opacity: 0.5;
}

@media screen and (max-width:767px) {
    .add-photo {
        background-color: rgba(28,28,28,0);
        border: 2px solid #fff;
        height: 15.625vw;
        width: 86vw;
        margin-left: 7vw;
        margin-top: 36px;
        margin-bottom: 36px;
        padding: 0;
        display: inline-block;
        background-image: url('../../images/plus.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media screen and (min-width: 768px) and (max-width:1279px) {
    .add-photo {
        border: 2px solid #fff;
        background-color: rgba(28,28,28,0);
        height: 3.90625vw;
        width: 11.71875vw;
        margin-top: 75px;
        margin-left: auto;
        margin-left: 15.625vw;
        background-image: url('../../images/plus.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15%;
    }
}

@media screen and (min-width:1280px) {
    .add-photo {
        background-color: rgba(28,28,28,0);
        border: 2px solid #fff;
        height: 50px;
        width: 150px;
        margin-top: 75px;
        margin-left: auto;
        margin-right: calc((100vw - 880px) / 2);
        background-image: url('../../images/plus.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 22px 22px;
    }
}