@media screen and (max-width:767px) {
.pop-up__header {
    font-family: Inter;
    font-size: 5.625vw;
    font-weight: 900;
    line-height: 6.875vw;
    text-align: center;
    margin: 0;
    margin-top: 7.8125vw;
}
}

@media screen and (min-width: 768px) and (max-width:1279px) {
    .pop-up__header {
        font-family: Inter;
        font-size: 3.125vw;
        font-weight: 900;
        line-height: 3.78vw;
        text-align: center;
        margin: 0;
        margin-top: 2.5vw;
    }
}

@media screen and (min-width:1280px) {
    .pop-up__header {
        font-family: Inter;
        font-size: 24px;
        font-weight: 900;
        line-height: 29px;
        text-align: left;
        margin: 34px 0 0 36px;
    }
}