@media screen and (max-width:767px){
    .pop-up__buttontext {
        font-family: Inter;
        font-size: 4.375vw;
        font-weight: 400;
        line-height: 5.3125vw;
        text-align: center;
        color: #fff;
    }
}

@media screen and (min-width: 768px) and (max-width:1279px) {
    .pop-up__buttontext {
        font-family: Inter;
        font-size: 2.3475vw;
        font-weight: 400;
        line-height: 2.86vw;
        text-align: center;
        color: #fff;
        margin: 0;
    }
    }

    @media screen and (min-width:1280px) {
        .pop-up__buttontext {
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            color: #fff;
            margin: 0;
        }
    }