.card__text {
    margin: 0;
    font-weight: 900;
    text-align: left;
    display: inline-block;
}

@media screen and (max-width:767px) {
    .card__text {
        font-size: 7.5vw;
        line-height: 9.0625vw;
        margin-left: 6.5625vw;
        margin-right: 23.4375vw;  
    }
}

@media screen and (min-width:768px) {
    .card__text {
        font-size: 24px;
        line-height: 29.05px;
        margin-left: 21px;
    }
}
