@import url('../vendor/normalize.css');
@import url('../vendor/fonts/InterWeb/inter.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/avatar/avatar.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__button/profile__button.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/card/card.css');
@import url('../blocks/card/__like/card__like.css');
@import url('../blocks/card/__photo/card__photo.css');
@import url('../blocks/card/__text/card__text.css');
@import url('../blocks/card/__info/card__info.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/cards/cards.css');
@import url('../blocks/card/__like/_active/card__like_active.css');
@import url('../blocks/profile/__add-photo/profile__add-photo.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__whoau/profile__whoau.css');
@import url('../blocks/pop-up-2/__container/pop-up-2__container.css');
@import url('../blocks/pop-up-2/__edit/pop-up-2__edit.css');
@import url('../blocks/pop-up-2/__exit/pop-up-2__exit.css');
@import url('../blocks/pop-up-2/__header/pop-up-2__header.css');
@import url('../blocks/pop-up-2/__input/pop-up-2__input.css');
@import url('../blocks/pop-up-2/pop-up-2.css');
@import url('../blocks/pop-up/pop-up.css');
@import url('../blocks/pop-up/__header/pop-up__header.css');
@import url('../blocks/pop-up/__edit/pop-up__edit.css');
@import url('../blocks/pop-up/__exit/pop-up__exit.css');
@import url('../blocks/pop-up/__container/pop-up__container.css');
@import url('../blocks/pop-up/_opened/pop-up_opened.css');
@import url('../blocks/pop-up/__input/pop-up__input.css');
@import url('../blocks/card/_trash/card__trash.css');
@import url('../blocks/pop-up-image/pop-up-image.css');
@import url('../blocks/pop-up-image/__pic/pop-up__pic.css');
@import url('../blocks/pop-up-image/__title/pop-up__title.css');
@import url('../blocks/pop-up-image/closeBtn/pop-up-image__closeBtn.css');

.sad {
    display: flex;
    flex-direction: column;
    position: relative;
}